<div class="grid-container">
  <h1 class="mat-h1">Details</h1>
  <mat-grid-list cols="2" rowHeight="350px">

    <ng-container *ngIf="person">
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>person</mat-icon>
          <h4 matLine>Name: {{person.name}}</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>pin_drop</mat-icon>
          <h4 matLine>City: {{person.city}}</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>map</mat-icon>
          <h4 matLine>Country: {{person.country}}</h4>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListIcon>star</mat-icon>
          <h4 matLine>Skills:
            <span *ngFor="let skill of person.skills; let i = index">
                            <span>{{skill.name}}</span>
                            <span *ngIf="i < person.skills.length - 1">, </span>
                        </span>
          </h4>

        </mat-list-item>

        <mat-list-item>
          <mat-icon matListIcon>event</mat-icon>
          <h4 matLine>Date of Birth: {{person.dateOfBirth|date}}</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>text_snippet</mat-icon>
          <h4 matLine>Resume: >
            <mat-icon (click)="download(person.resumeLink)">download</mat-icon>
          </h4>
        </mat-list-item>
      </mat-list>
    </ng-container>

  </mat-grid-list>
</div>
